@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;700&display=swap');

.contenedor__movil {
    max-width: 640px;
    margin: 0 auto;

    .imagen-principal {
        max-height: 455px;
        img {
            width: 100%;
            max-height: 455px;
            object-fit: cover;
            object-position: center;
        }
    }

    .fotos-personas {
        margin-top: -50px;
        //padding: 0;
        background-color: #3a373e;

        picture {
            max-width: 100px;
            max-height: 100px;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                border: 1px solid white;
                cursor: pointer;
            }

        }

        /* square buttons */
        .rec.rec-arrow {
            border-radius: 0;
            display: none;
        }
        .rec.rec-dot_active {
            background-color: gray;
            box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
        }
        /* round buttons on hover */
        .rec.rec-arrow:hover {
            border-radius: 50%;
        }
        /* hide disabled buttons */
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }
        /* disable default outline on focused items */
        /* add custom outline on focused items */
        .rec.rec-carousel-item:focus {
            outline: none;
        }

    }

    .titulo {
        width: 100%;
        background-color: #3a373e;
        padding: 25px 20px 55px 20px;
        margin: 0 auto;

        h1 {
            font-family: "Archivo Black", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
            color: #ff703b;
        }
        h2 {
            font-family: "Roboto", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;           
            letter-spacing: -0.005em;
            color: white;
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }

    .contenedor__cta {   
        padding: 0 20px;
        

        .precio {
            background-color: #ec1b24;
            padding: 25px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: -38px;
            box-shadow: var(--shadow-md);

            p {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.005em;
                text-decoration:line-through;
                color: #FE9A9A;
            }

            h3 {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 37px;
                letter-spacing: -0.005em;
                color: white;
                
                sup {
                    font-weight: 300;
                    font-size: 24px;
                }
            }

            a {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.005em;
                color: white;
            }
        }
    }

    .texto-principal {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.005em;
        color: #636262;
        padding: 50px 20px 66px 20px;

        h2 {
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 15px;
        }
        
        p {
            padding-bottom: 15px;
        }

        p:last-child {
            padding-bottom: 0;
        }
    }

    .imagenes-correa {
        background: #EAE8E8;
        place-items: center;
        padding: 46px 0px;

        picture {
            width: 100%;
            padding: 40px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
                cursor: grab;

                &:focus {
                    outline: none;
                }
            }
        }

        /* square buttons */
        .rec.rec-arrow {
            border-radius: 0;
            display: none;
        }
        .rec.rec-dot_active {
            background-color: #ec1b24;
            box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
        }
        /* round buttons on hover */
        .rec.rec-arrow:hover {
            border-radius: 50%;
        }
        /* hide disabled buttons */
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }
        /* disable default outline on focused items */
        /* add custom outline on focused items */
        .rec.rec-carousel-item:focus {
            outline: none;
        }
    }

    .texto-detalles {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.005em;
        color: #636262;
        padding: 66px 20px 96px 20px;

        h2 {
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 15px;
        }

        p {
            padding-bottom: 15px;
        }

        span {
            font-weight: bold;
        }
    }

    .footer {
        position: relative;
        z-index: -1;
        width: 100%;
        background-color: #3a373e;
        padding: 105px 20px 60px 20px;
        margin: 0 auto;
        margin-top: -45px;

        .badgets {
            width: 100%;
            padding-bottom: 60px;
            display: flow-root;
        }

        h3 {
            position: relative;
            color: white;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.005em;
            text-align: center;
            padding-bottom: 10px;
            sup {
                font-weight: 300;
                font-size: 12px;
                padding-right: 2px;
            }
        }

        p {
            color: white;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 26px;
            letter-spacing: -0.005em;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .logo {
        padding: 65px 20px 35px 20px;
        background-color: white;

        picture {
            width: 100%;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .copyright {
        padding-bottom: 40px;

        picture {
            width: 100%;
            padding: 0 20px;

            img {
                width: 90%;
                display: block;
                margin: 0 auto;
            }
        }

        p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.005em;
            text-align: center;
        }
    }

}