@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;700&display=swap');

.contenedor__movil {
    max-width: 415px;
    margin: 0 auto;

    .imagen-principal {
        max-height: 455px;
        img {
            width: 100%;
            max-height: 455px;
            object-fit: cover;
            object-position: center;
        }
    }

    .fotos-personas {
        margin-top: -50px;
        //padding: 0;
        background-color: white;

        picture {
            max-width: 100px;
            max-height: 100px;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                border: 1px solid black;
                cursor: pointer;
            }

        }

        /* square buttons */
        .rec.rec-arrow {
            border-radius: 0;
            display: none;
        }
        .rec.rec-dot_active {
            background-color: #ed1c24;
            box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
        }
        /* round buttons on hover */
        .rec.rec-arrow:hover {
            border-radius: 50%;
        }
        /* hide disabled buttons */
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }
        /* disable default outline on focused items */
        /* add custom outline on focused items */
        .rec.rec-carousel-item:focus {
            outline: none;
        }

    }

    .titulo {
        width: 100%;
        background-color: white;
        padding: 35px 20px 0px 20px;
        margin: 0 auto;

        h1 {
            font-family: "Roboto", serif;
            font-style: normal;
            font-weight: 900;
            font-size: 2.1rem;
            line-height: 40px;
            color: #363636;
            text-align: center;
            span {
                font-size: 3rem;
                letter-spacing: -0.1rem;
            }
        }
        h2 {
            font-family: "Roboto", serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;           
            color: #ed1c24;
            padding-top: 10px;
            padding-bottom: 30px;
            text-align: center;
            //letter-spacing: 0.1rem;
        }
    }

    .contenedor__cta-classic {   
        padding: 0 20px;
        

        .precio {
            background-color: #ec1b24;
            padding: 25px 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: -45px;
            box-shadow: var(--shadow-md);

            p {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: -0.005em;
                text-decoration:line-through;
                color: #FE9A9A;
            }

            h3 {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 37px;
                letter-spacing: -0.005em;
                color: white;
                
                sup {
                    padding-right: 5px;
                    font-weight: 300;
                    font-size: 24px;
                }
            }

            .buy-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h4 {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: -0.005em;
                    color: white;
                }
                h5 {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: -0.005em;
                    color: white;
                    text-align: center;
                }
            }
        }
    }

    .texto-principal {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.005em;
        color: #636262;
        padding: 30px 20px 50px 20px;

        h2 {
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 15px;
        }
        
        p {
            padding-bottom: 15px;
        }

        p:last-child {
            padding-bottom: 0;
        }
    }

    .shine-text {
        padding: 0px 20px 30px 20px;

            font-family: "Archivo Black", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 2.8rem;
            line-height: 50px;
            text-align: center;
            letter-spacing: 0rem;
            background: linear-gradient(to right, #fdcc66, #ff9b63, #fa547c, #ffa7c7);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

    }

    .video {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        //padding-top: 56.25%;

        // video {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 100%;
        // }
    }

    .imagenes-correa {
        background: #EAE8E8;
        place-items: center;
        padding: 6px 0px 86px 0px;

        picture {
            width: 100%;
            padding: 40px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
                cursor: grab;

                &:focus {
                    outline: none;
                }
            }
        }

        .rec.rec-pagination {
            padding-top: 0px;
            margin-top: -10px;
        }

        /* square buttons */
        .rec.rec-arrow {
            border-radius: 0;
            display: none;
        }
        .rec.rec-dot_active {
            background-color: #ec1b24;
            box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
        }
        /* round buttons on hover */
        .rec.rec-arrow:hover {
            border-radius: 50%;
        }
        /* hide disabled buttons */
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }
        /* disable default outline on focused items */
        /* add custom outline on focused items */
        .rec.rec-carousel-item:focus {
            outline: none;
        }
    }

    .texto-detalles {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.005em;
        color: #636262;
        padding: 50px 20px 50px 20px;

        h2 {
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 15px;
            text-align: center;
        }

        p {
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 15px;
            padding-top: 15px;

            &:last-child {
                border-bottom: 0px;
            }

            span {
                font-weight: bold;
            }
        }

    }

    .style-text {
        background: #EAE8E8;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 52px;
        color: #363636;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .smart-size {
        padding: 60px 20px 110px 20px;

        h2 {
            font-family: "Roboto", serif;
            font-style: normal;
            font-weight: 900;
            font-size: 2rem;
            line-height: 40px;
            color: #363636;
            text-align: center;
            padding-bottom: 30px;
        }

        .donde-talla {
            padding: 30px 20px;
            font-size: 2rem;
            line-height: 40px;
        }

        picture {

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }

    }

    .footer {
        position: relative;
        z-index: -1;
        width: 100%;
        background-color: #3a373e;
        padding: 115px 20px 60px 20px;
        margin: 0 auto;
        margin-top: -48px;

        .badgets {
            width: 100%;
            padding-bottom: 60px;
            display: flow-root;
        }

        h3 {
            position: relative;
            color: white;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.005em;
            text-align: center;
            padding-bottom: 10px;
            sup {
                font-weight: 300;
                font-size: 12px;
                padding-right: 2px;
            }
        }

        p {
            color: white;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 26px;
            letter-spacing: -0.005em;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .logo {
        padding: 65px 20px 35px 20px;
        background-color: white;

        picture {
            width: 100%;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .copyright {
        padding-bottom: 40px;

        picture {
            width: 100%;
            padding: 0 20px;

            img {
                width: 90%;
                display: block;
                margin: 0 auto;
            }
        }

        p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.005em;
            text-align: center;
        }
    }

}